{% extends "base.html" %}

{% block body %}

  {% block stylesheets %}
  <!-- Additional stylesheets for the home page -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/forecast.css') }}">

  {% endblock %}
<body>

  <div class="about-content" style="
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;">
    <h2>About Us</h2>
    <p>Welcome to the Website Traffic Forecasting Platform. Our platform provides accurate traffic forecasting for websites based on historical data and predictive algorithms. We are dedicated to helping website owners and administrators make informed decisions about their online presence.</p>
    <p>Our team of data scientists and web analysts work tirelessly to ensure that our forecasting models are reliable and up-to-date. We are committed to providing valuable insights to our users and helping them understand and anticipate their websites traffic.</p>
  </div>
</body>
  {% endblock %}