{% extends "base.html" %}
{% block title %}SignUp - App{% endblock %}

{% block body %}


{% block stylesheets %}
    <!-- Additional stylesheets for the home page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

{% endblock %}


<body>
    <h2>Sign Up</h2>
    <div class="login-container">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <label for="username">Username:</label>
        {{ form.username() }}
        <label for="password">Password:</label>
        {{ form.password() }}
        <label for="confirm_password">Confirm Password:</label>
        {{ form.confirm_password() }}
        {{ form.submit() }}
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Log in here</a>.</p>
    </div>
</body>
{% endblock %}
